@model WebSiteBanSach.Models.Sach

@{
    ViewData["Title"] = "Xoa";
    Layout = "~/Views/Shared/AdminLayOut.cshtml";
}

<h1>Xoa</h1>

<h3>Bạn có thiệt sự muốn xóa quyển sách này không? :(</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaSach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaSach)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenSach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenSach)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaBan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnhBia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnhBia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayCapNhat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayCapNhat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongTon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuongTon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNxb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNxb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaChuDe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaChuDe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Moi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Moi)
        </dd>
    </dl>
    
    <form asp-action="XoaConfirmed" method="post">
        <input type="hidden" asp-for="MaSach" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Trở Về</a>
    </form>
</div>
