@using WebSiteBanSach.ViewModel;
@model SachListVM
@{
	ViewData["Title"] = "SachTheoNXB";
	Layout = "~/Views/Shared/NguoiDungLayout.cshtml";
}
<h1>SachTheoNXB</h1>
<div>
	@if (Model.Sachs.Count == 0)
	{
		<h1>@ViewBag.Sachs</h1>
	}
</div>

<div>
	@{
		int i = 0;
	}
	@foreach (var item in Model.Sachs)
	{
		i++;
		<div id="SanPham">
			<div id="AnhBia">
				<img src="@Url.Content("~/lib/HinhAnhSP/"+item.AnhBia)" width="100" height="150" />
			</div>
			<div id="TenSach">@item.TenSach</div>
			<div id="DonGia">@item.GiaBan</div>
			<div id="MoTa">@item.MoTa</div>
		</div>
		if (i % 3 == 0)
		{
			<div style="clear:both"></div>
		}
	}

</div>
<div id="divNhaXuatBan">
	@foreach (var item in Model.NXBes)
	{
		<a href="/NhaXuatBan/SachTheoNXB?MaNxb=@item.MaNxb" class="button button-submit">@item.TenNxb</a>

	}

	<a href="/NhaXuatBan/DanhMucNXB" class="button button-submit">Chủ đề khác...</a>
</div>
<style>
	#divNhaXuatBan {
		position: fixed;
		bottom: 80px;
		left: 2%
	}

		#divNhaXuatBan .button-submit {
			margin-top: 5px; /* Khoảng cách trên */
			margin-right: 10px; /* Khoảng cách bên phải */
			display: inline-block; /* Để margin-right hoạt động hiệu quả */
		}
</style>

